[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
codecov = "*"
pytest-cov = "*"
amalgama-pq = {path = ".", editable = true}
mypy = "*"
chopper = {git = "https://github.com/andriyor/chopper.git"}

[packages]
pyquery = "*"
python-slugify = "*"

[requires]
python_version = "3.7"
