[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
codecov = "*"
pytest-cov = "*"
amalgama-pq = {path = ".", editable = true}
mypy = "*"

[packages]
pyquery = "*"
black = "*"

[requires]
python_version = "3.7"
